---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Sticky full-width masthead
.masthead {
  position: sticky;
  top: -0.5em;
  font-size: $h-size-3;
  margin: 0 -1em;
  padding: 0 1em;
  z-index: 100;
}

// Active nav link highlight
.masthead__menu-item .current-page {
  color: $masthead-link-color-hover;
}
